
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="container py-2">
                    <div class="row bg-primary bg-opacity-75 rounded-3"
                         style="
                background-color: #f39f86;
                background-image: linear-gradient(
                  315deg,
                  #f39f86 0%,
                  #f9d976 74%
                );
              ">
                        <div class="my-2 d-flex justify-content-between text-light">
                            <span>
                                <i class="far fa-newspaper-o font text-dark fw-bold">
                                    Giới thiệu
                                </i>
                            </span>
                        </div>
                    </div>
                    <!-- Post -->
                    <div>
                        <div class="my-2 text-dark">
                            <h3 style="text-align: center; padding-top: 20px">
                                Giới thiệu sách: @ViewBag.Latest.title
                            </h3>
                            <br />
                            <p class="mx-3" style="text-align: justify">
                                @ViewBag.Latest.content
                            </p>
                            <p style="text-align: right; padding-right: 20px; font-style: italic;">
                                @ViewBag.Latest.id_publisher
                            </p>
                            <p>
                                Xem thông tin sách tại đây:
                                <button type="button"
                                        class="btn btn-warning"
                                        data-bs-toggle="modal"
                                        style="width: 100px !important">
                                    Chi tiết
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row bg-primary bg-opacity-75 rounded-3"
                         style="background-color: #f39f86; background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);">
                        <div class="my-2 d-flex justify-content-between text-light">
                            <span>
                                <i class="far fa-newspaper-o font text-dark fw-bold">
                                    Các bài giới thiệu khác
                                </i>
                            </span>
                        </div>
                    </div>
                    @foreach (var item in ViewBag.List)
                    {
                        <div style="display: flex; justify-content: space-between;">
                            <a href="#">Giới thiệu sách: @item.title</a>
                            <p>@item.createdAt</p>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="container py-2">
                    <div class="row bg-primary bg-opacity-75 rounded-3"
                         style="
                background-color: #f39f86;
                background-image: linear-gradient(
                  315deg,
                  #f39f86 0%,
                  #f9d976 74%
                );
              ">
                        <div class="my-2 d-flex justify-content-between text-light">
                            <span>
                                <i class="far fa-thumbs-up font text-dark fw-bold">
                                    Sách nổi bật
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card mb-1">
                            <div class="row g-0">
                                @foreach (var item in ViewBag.Book)
                                {
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="<img style=" width: 120px !important;height: 150px !important;" src="/Content/assets/img/@item.image" class="img-fluid">"
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body text-truncate">
                                            <p class="card-title">
                                                <a href="#"
                                                   class="fw-bold text-dark text-decoration-none h5">
                                                    @item.name
                                                </a>
                                            </p>
                                            <p class="card-text">@item.author</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

