
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Thông tin tài khoản</h4>
        
        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg == "1")
                {
                    <div class="alert alert-success">
                        <strong>Đổi mật khẩu thành công</strong>
                    </div>
                }
                else if(ViewBag.Msg =="2")
                {
                    <div class="alert alert-danger">
                        <strong>Thay đổi mật khẩu thất bại</strong>
                    </div>
                }
            </div>
            
            <div class="card-body">
                <form enctype="multipart/form-data" action="/Merchant/AddNew" method="post">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Họ và tên <span style="color:red">* </span>:</label>
                                <input type="text" class="form-control" id="tenphim" name="hoten" tabindex="1" value="@ViewBag.list.fullname" readonly required maxlength="20">
                            </div>
                            @if (ViewBag.list.gender == 0)
                            {
                                <div class="col-6">
                                    <label for="category-film" class="col-form-label">Giới tính:</label>
                                    <input type="text" class="form-control" id="dienvien" value="Nữ" name="sdt" tabindex="2" readonly required>
                                </div>
                            }
                            else
                            {
                                <div class="col-6">
                                    <label for="category-film" class="col-form-label">Giới tính:</label>
                                    <input type="text" class="form-control" id="dienvien" value="Nam" name="sdt" tabindex="2" readonly required>
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Số điện thoại :</label>
                                <input type="text" class="form-control" id="dienvien" value="@ViewBag.list.phone" name="sdt" tabindex="2" readonly required>
                            </div>
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Địa chỉ<span style="color:red">* </span>:</label>
                                <input type="text" class="form-control" id="tenphim" name="hoten" value="@ViewBag.list.address" tabindex="1" readonly required maxlength="20">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Email :</label>
                                <input type="text" class="form-control" id="tenphim" name="email" tabindex="1" value="@ViewBag.list.email" readonly required maxlength="20">
                            </div>
                            @{
                                string dateS = String.Format("{0:yyyy-MM-dd}", @ViewBag.list.birthday);
                            }
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Ngày sinh :</label>
                                <input type="text" class="form-control" id="tenphim" name="email" value="@dateS" readonly tabindex="1" autofocus required maxlength="20">
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            @{ var itemName = "#editModal" + ViewBag.list.id_user;
                var itemName1 = "editModal" + ViewBag.list.id_user;
            }
            <div class="row">
                <div class="col align-self-start">
                    <a href="/User/Edit" class="btn btn-secondary">Chỉnh sửa thông tin</a>
                    @*<a href="/User/UpdatePassword" class="btn btn-warning">Đổi mật khẩu</a>*@
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="@itemName">
                        Đổi mật khẩu
                    </button>
                </div>

                <!-- Modal form to edit password-->
                <div class="modal fade" id="@itemName1" tabindex="-1" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <form action="/User/UpdatePasswordPost" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">Đổi mật khẩu</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div id="resultss" class="modal-body">
                                    <div class="row">
                                        <div class="mb-2">
                                            <label for="category-film" class="col-form-label">New Password:<span style="color:red">* </span>:</label>
                                            <input type="password" class="form-control" id="tenphim" name="password" tabindex="1" value="" required maxlength="20">
                                        </div>
                                        <div class="mb-2">
                                            <label for="category-film" class="col-form-label">Re New Password:</label>
                                            <input type="password" class="form-control" id="tenphim" name="rePassword" tabindex="1" value="" required maxlength="20">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button data-bs-dismiss="modal" class="btn btn-primary">Quay lại</button>
                                    <button type="submit" style="width:100px" class="btn btn-primary">Sửa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col align-self-end">
                </div>
            </div>

        </div>
    </div>
</main>

